/* Style for the main AnchorPane */
.anchor-pane {
    -fx-background-color: #f0f0f0; /* Light gray background */
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,0,0);
}
/* Style for the dashboard label */
.dashboard-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333; /* Dark gray text */
}

/* Style for the list label */
.list-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333; /* Dark gray text */
}

/* Style for the ListView */
.list-view {
    -fx-background-color: #fff; /* White background */
    -fx-border-color: #ccc; /* Light gray border */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.list-view {
    -fx-background-color: #fff; /* White background */
    -fx-border-color: #ccc; /* Light gray border */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.cardDash {
    -fx-background-color:linear-gradient(to right, #ff3800, rgb(252, 86, 13));
    -fx-background-radius:30px;
    -fx-padding:10px 10px 10px 10px;
}